

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rick and Morty FC</title>
    <link rel="stylesheet" href="../css/index-css.css">    
    <link rel="stylesheet" href="../css/acknowledge-css.css">
    <script defer src="/js/acknowledge-js.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
</head>
<body>

    <div>
        <p style="font-family: 'Amatic SC', cursive; font-size: x-large; text-decoration: none; color:aliceblue;">
            To be sure that you are sure... Watch the video and take the quiz to enter site.
        </p>
    </div>

    
    
    <div id="vid">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/wh10k2LPZiI?controls=0&autoplay=1&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
        <audio src="/resources/rmtheme.mp3" id="song" type="audio/mpeg"></audio>
    </div>

    <div>
        <button id="quiz" >Take The Quiz</button>
    </div>

    <div id="formContainer">
        <form>
            <span>The Greatest Show Ever Is: </span> <br>
            <input type="radio" id="correct" name="guess" value="correct">
            <label for="correct">Rick and Morty</label>
            <input type="radio" id="incorrect" name="guess" value="incorrect">
            <label for="incorrect">Jim and Pam</label>
        </form>
        <button id="submit" style="font-family: 'Amatic SC', cursive; font-size: x-large;">Submit</button>

    </div>

    <div>
        <a href="/views/landing.html" id="toSite" style="font-family: 'Amatic SC', cursive; font-size: x-large; text-decoration: none; color: black;">Enter Site</a>
    </div>
   

    
</body>
</html>
