<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rick and Morty Home</title>
    <link rel="stylesheet" href="../css/landing-css.css">
</head>
<body>
    <header>
        <div class="portal-left">
            <div>
                <img id="portal" src="../images/portal.png" alt="portal">
            </div>
            
            <div>
                <img id="portal" src="../images/portal.png" alt="portal">
            </div>
        </div>
        
        <img id="title" src="../images/Rick-and-Morty-logo.png" alt="Rick and Morty">

        <div class="portal-right">
            <div>
                <img id="portal" src="../images/portal.png" alt="portal">
            </div>
            <div>
                <img id="portal" src="../images/portal.png" alt="portal">
            </div>
        </div>
        
    </header>
    <footer>
        <p>Rick and Morty FanClub does not own the rights to any media</p>
    </footer>
</body>
</html>