<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rick and Morty Home</title>
    <link rel="stylesheet" href="../css/landing-css.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
    <script defer src="../js/landing-js.js"></script>
</head>
<body>
    <header>
        <div class="portal-left">
            <div>
                <img id="portal" src="../images/portal.png" alt="portal">
            </div>
            
            <div>
                <img id="portal" src="../images/portal.png" alt="portal">
            </div>
        </div>

        <img id="title" src="../images/Rick-and-Morty-logo.png" alt="Rick and Morty">

        <div class="portal-right">
            <div>
                <img id="portal" src="../images/portal.png" alt="portal">
            </div>
            <div>
                <img id="portal" src="../images/portal.png" alt="portal">
            </div>
        </div>
    </header>
    <div class="dropdown">
        <span>Menu</span>
        <div class="dropdown-content">
            <a href="">Gallery</a>
            <a href="">About Us</a>
        </div>  
    </div>


    <div class="create">
        <button id="createbutton">Create A Character</button>
        <div id="createForm">
            <form>
                <label for="fname">Full Name:</label><br>
                <input type="text" id="fname" name="fname"><br>
                <label for="dimension">Dimension:</label><br>
                <input type="text" id="dimension" name="dimension"><br>
                <p>Please select your favorite character:</p>
                <input type="radio" id="rickpic" name="charPic" value="rick">
                <label for="rickpic">Rick</label>
                <input type="radio" id="mortypic" name="charPic" value="morty">
                <label for="mortypic">Morty</label>
                <input type="radio" id="summerpic" name="charPic" value="summer">
                <label for="summerpic">Summer</label><br>
                <input type="radio" id="bethpic" name="charPic" value="beth">
                <label for="bethpic">Beth</label>
                <input type="radio" id="jerrypic" name="charPic" value="jerry">
                <label for="jerrypic">Jerry</label>
                <input type="radio" id="terrypic" name="charPic" value="scaryterry">
                <label for="terrypic">Scary Terry</label>
                <br>
                <button type="button" id="formSubmit" onclick = "run_test()">Submit</button>
            </form>
        </div>
    </div>


    <div id="cards">
        <div class="character">
            <img src="../images/ricksanchez.png" alt="rick sanchez" style="height: 300px; border-radius: 5%;">
            <table>
                <tr>
                    <th style="">Rick Sanchez</th>
                </tr>
                <tr>
                    <td style="text-align: center;">Dimension: C-137</td>
                </tr>
            </table>
        </div>
        <div class="character">
            <img src="../images/morty.png" alt="morty smith" style="height: 300px; width:243px; border-radius: 5%;">
            <table>
                <tr>
                    <th style="">Morty Smith</th>
                </tr>
                <tr>
                    <td style="text-align: center;">Dimension: C-137</td>
                </tr>
            </table>
        </div>
        <div class="character">
            <img src="../images/summer.png" alt="summer smith" style="height: 300px; width:243px; border-radius: 5%;">
            <table>
                <tr>
                    <th style="">Summer Smith</th>
                </tr>
                <tr>
                    <td style="text-align: center;">Dimension: C-137</td>
                </tr>
            </table>
        </div>
        <div class="character">
            <img src="../images/beth.png" alt="beth smith" style="height: 300px; width:243px; border-radius: 5%;">
            <table>
                <tr>
                    <th style="">Beth Smith</th>
                </tr>
                <tr>
                    <td style="text-align: center;">Dimension: C-131</td>
                </tr>
            </table>
        </div>

    </div>
</body>
</html>